// Variables
$header-bg: #0A2540;
$header-font: #fff;

$footer-bg:#0D0D0D;
$footer-creds: #262626;

$footer-main-font: #fff;
$footer-creds-font: #fff;

$link-color: #0F69A9;

$def-font-color: black;

$def-font-size: 16px;

$container-width: 1140px;

$def-font: 'Lato', sans-serif;
$def-head-font: 'Montserrat', sans-serif;

// Main Body

html,
body{
    box-sizing: border-box;
}

body{
    color: $def-font-color;
    font-family: $def-font;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $def-head-font;
    font-weight: 600;
}

// Header
.header {
    border-bottom: 1px solid #ddd;
}


// Site Inner

.site-inner {
    background-color: #f5f6f8;
}

.wrap{
    max-width: 1140px;
    margin: 0 auto;
}

.site-inner .wrap{
    display: flex;
    .content-main{
        max-width: 70%;
    }
    .sidebar{
        width: 30%; 
    }
}

.entry {
}

.entry{
    background-color: white;
    border-radius: 3px;
    padding: 0;
} 
.sidebar-widgets {
    background-color: white;
    padding: 1rem;
    border-radius: 3px;
}

// Footer